@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  --textColor: rgb(230 201 166);
  --backgroundColor: rgb(33 31 30);
  --accentColor: rgb(22, 194, 100);
  --biodiversity: yellow;
  /* background: var(--backgroundColor); */
  @apply bg-stone-900 text-stone-200;
  /* color: var(--textColor);  */
}

h1 {
  @apply font-extralight text-3xl mb-3;
}

button {
  @apply px-2 py-1 flex items-center space-x-1 transition-colors mr-4;
  border: none;
  /* background-color: #5d4e3c; */
  background-color: #564a3d;
  /* background-image: linear-gradient(343deg, #583b19, #79562f); */
  color: #f2e4d3;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  border-radius: 0.25rem;
  transition: background-color 0.15s;
}

button:hover {
  background-color: #886e53;
}

label {
  @apply text-sm text-stone-400
}

.flex {
  display: flex;
}
.items-center {
  align-items: center;
}

input[type="checkbox"] {
  margin-left: 0.5rem;
}

select {
  margin-left: 0.25rem;
  background: transparent;
  border: 1px solid rgba(230, 201, 166, 0.35);
  border-radius: 0.25rem;
  color: inherit;
  padding: 0.125rem 0.25rem;
}